body
{
	font-family					:	Helvetica, Arial, sans-serif;
	font-size 					:	15px;
	padding 					:	20px 0px;
	background					:	#E1E1E1;

}

.container
{
	width						:	60%;
	max-width					:	300px;
	margin						:	0px auto;
	background					:	#FFFFFF;
	border						:	#CCCCCC;
	padding						:	20px;
	border-radius				:	4px;
	box-shadow					:	0 2px 4px rgba( 0, 0, 0, 0.1 );
}